.container{
    position: relative;
}
#BOX1,#BOX2 {
    position: absolute;
    border:3px solid black;
    width:100px;
    height:100px;
    text-align:center;
    font-size:25px;
}
#BOX1{
    background-color: red;
    left:20px;
    top: 60px;
    z-index:2
}
#BOX2{
    background-color:cyan;
    left:60px;
    top: 20px;
    z-index:1
}